@import "../variables";

header {
  width: 100%;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    max-width: 1104px;

    @media screen and (max-width: 992px) {
      justify-content: center;
    }

    a {
      @media screen and (max-width: 992px) {
        align-self: center;
      }
    }
    img.my-logo {
      padding: 17px;
    }

    .nav {
      height: 100%;
      margin: 0 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 23px 8px;
        border-bottom: 2px solid $primary;

        &:hover,
        &:active {
          color: $gold;
          border-bottom: 2px solid $gold;
        }

        &:last-of-type {
          &:hover {
            font-weight: bold;
            color: $white;
            border-bottom: 2px solid $white;
            background-color: black;
          }
        }
      }
    }

    .ui-form {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 1100px) {
		display: flex;
        margin: 1.5rem;
      }

      .login {
        padding: 1px 6px;
        color: $white;
        top: calc(50% - 26px / 2);
        width: 90px;
        height: 26px;
        margin-left: 10px;
        cursor: pointer;

        span {
          font-weight: 400;
          font-size: 1rem;
          line-height: 24px;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

nav.nav-mobile {
  width: 100%;
  min-height: 2em;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(18, 40, 64, 0.85);
  z-index: 10;

  a {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 23px 10px;
	border-bottom: 2px solid rgba(18, 40, 64, 0.85);

    &:hover,
    &:active {
      color: $gold;
      border-bottom: 2px solid $gold;
    }

    &:last-of-type {
      &:hover {
        font-weight: bold;
        color: $white;
        border-bottom: 2px solid $white;
        background-color: black;
      }
    }
  }
}
