@import "../variables";

.header {
  .search {
    position: relative;

    svg {
		width: 24px;
		height: 24px;
		left: 5px;
		top: 10px;
		position: absolute;
    }

    input {
		border: none;
		border-radius: 8px;
		padding: 8px 30px;
		outline: none;
		width: 12rem;
		height: 44px;
		background-color: $second;
		color: $lightblue;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

      &:focus {
        background-color: $white;
		color: $primary;
      }
    }
  }
}
