@import "../variables";

.header {
  .search {
    position: relative;

    // @media screen and (max-width: 1024px) {
    //   margin: 1rem 0;
    // }

    svg {
      width: 24px;
      height: 24px;
      position: absolute;
    }

    .close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      transform: translateY(40%) translateX(-120%);
      opacity: 0.4;
      position: absolute;

      &:hover {
        opacity: 0.8;
      }
    }

    input {
      border: none;
      border-radius: 8px;
      padding: 8px 30px;
      outline: none;
      width: 300px;
	  background-color: $second;
	  color: $lightblue;

      &:focus {
        background-color: $white;
		color: $primary;
      }
    }
  }
}
