//background
$primary: #001424;
$second: #122840;
$shadow: #7b61ff12;

//text
$white: #fff;
$gold: #ba9d5a;
$lightblue: #849ab2;
$blue: #677f99;
$pink: #a86ea7;

//other
$container-width: calc(50% - 1104px / 2);
