$primary: rgb(0, 20, 36);
$second: rgb(18, 40, 64);
$shadow: rgba(123, 97, 255, 0.07);
$white: #fff;
$gold: rgb(186, 157, 90);
$lightblue: rgb(132, 154, 178);
$blue: rgb(103, 127, 153);
$pink: rgb(168, 110, 167);

$gradient1: radial-gradient(rgba(0, 20, 36, 0) 32.81%, rgb(0, 20, 36) 100%);
$gradient2: linear-gradient(180deg, rgb(0, 20, 36) 0%, rgba(0, 20, 36, 0) 100%);
