* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: Roboto, system-ui, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

i.material-icons {
  transform: translateY(15%) !important;
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
  .hide-on-med-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 993px) {
  .show-on-medium-and-down {
    display: none !important;
  }
  .hide-on-med-and-down {
    display: block !important;
  }
}
header {
  width: 100%;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1104px;
  margin: 0 2rem;
}
header .header img.my-logo {
  padding: 17px;
}
header .header .nav {
  height: 100%;
  margin: 0 1rem;
}
header .header .nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header .nav a {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 23px 8px;
}
header .header .nav a:hover, header .header .nav a:active {
  color: #ba9d5a;
  border-bottom: 2px solid #ba9d5a;
}
header .header .nav a:last-of-type:hover {
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: black;
}
header .header .ui-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  header .header .ui-form {
    margin: 1.5rem;
  }
}
header .header .ui-form .login {
  padding: 1px 6px;
  color: #fff;
  top: calc(50% - 13px);
  width: 90px;
  height: 26px;
  margin-left: 10px;
  cursor: pointer;
}
header .header .ui-form .login label {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 5px;
}

nav.nav-mobile {
  width: 100%;
  min-height: 2em;
  bottom: 0;
  left: 0;
  position: sticky;
  background-color: rgba(18, 40, 64, 0.85);
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.nav-mobile a {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 23px 8px;
}
nav.nav-mobile a:hover, nav.nav-mobile a:active {
  color: #ba9d5a;
  border-bottom: 2px solid #ba9d5a;
}
nav.nav-mobile a:last-of-type:hover {
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: black;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}
main .posters {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .posters-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .posters-title h3 {
  align-self: flex-start;
}
main .posters-title a {
  align-self: flex-end;
}
main .posters-images {
  display: flex;
  width: 95%;
}
main .posters-images img {
  padding: 5px 10px;
  width: 10rem;
}

footer {
  width: 100%;
  box-shadow: 0px -50px 100px rgba(123, 97, 255, 0.0705882353);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .page-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1104px;
}
footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 1rem auto;
}
@media screen and (max-width: 800px) {
  footer .links {
    text-align: center;
  }
}
footer .links div {
  padding-right: 50px;
}
@media screen and (max-width: 800px) {
  footer .links div {
    text-align: center;
    padding: 0 10px;
  }
}
footer a {
  color: #677f99;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
footer .footer-right-side {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 1rem auto;
}
@media screen and (max-width: 800px) {
  footer .footer-right-side {
    text-align: center;
  }
}
footer .footer-right-side .contacts-cr {
  display: flex;
  flex-direction: column;
}
footer .footer-right-side span {
  color: #677f99;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
}

.header .search {
  position: relative;
}
.header .search svg {
  width: 24px;
  height: 24px;
  left: 5px;
  top: 10px;
  position: absolute;
}
.header .search input {
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  outline: none;
  width: 300px;
  height: 44px;
  background-color: #122840;
  color: #849ab2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.header .search input:focus {
  background-color: #fff;
  color: #001424;
}

.App {
  background-color: #001424;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */