@import "./variables";
@import "./normalize";
@import "./components/all";

.App {
  background-color: $primary;
  color: $white;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
