@import "./variables";
@import "./normalize";
@import "./components/all";

.App {
  background-color: $primary;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

body {
	&.fz-increase {

		filter: contrast(110%);

		header {
			height: 15vh;
		}

		.search {
			width: 60%;

			input {
				width: 100%;
			}
		}

		legend, p, span, label, i, li  {
			font-size: 2rem !important;
		}

		button {
			font-size: 1.5rem !important;
			width: 100%;
			height: 10vh !important;
		}

		option, select, nav a, span.contacts, span.copyright, .help ul li a, .links ul li a {
			font-size: 1.5rem !important;
		}

		.login {
			width: 40% !important;
		}
	}

	&.grayscale {
		filter: grayscale(100) contrast(105%) !important;
	}

	//no red
	&.protanopia { 
		filter: contrast(110%) !important;
		.filter {
			display: block;
			background: rgba(0, 128, 255, .1);
		}
	}

	//no green
	&.deuteranopia { 
		filter: contrast(110%) !important;
		.filter {
			display: block;
			background: rgba(255, 0, 128, .1);
		}
	}

	//no blue
	&.tritanopia { 
		filter: contrast(110%) !important;
		.filter {
			display: block;
			background: rgba(255, 0, 0,.1);
		}
	}
}
